

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    text-align: center;

}

.elemento, .elemento-1, .elemento-2, .elemento-area-1, .elemento-area-2, .elemento-sidebar-1, .elemento-sidebar-2 {
    min-height: 4rem;
    background-color: burlywood;
    align-content: center;
}

.grid-2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    text-align: center;
}

.elemento-1 {
    grid-column: 1 / 4;
}

.grid-3 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    text-align: center;
}

.elemento-1 {
    grid-column: 1 / 4;
}

.elemento-2 {
    grid-row: 2 / 4;
}

.grid-areas {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    gap: 1px;
}

.elemento-area-1 {
    grid-column: 1 / 4;
}

.elemento-area-2 {
    grid-row: 2 / 4;
}

.grid-sidebar {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-areas: "1 2 3 4";
    grid-template-columns: repeat(4, 1fr);
    gap: 1px;
}

.elemento-sidebar-1 {
    grid-area: 1;
    grid-column: 1 / 4;
}

.elemento-sidebar-2 {
    grid-row: 1 / 3;
}

.elemento-sidebar-3 {
    grid-row: 2 / 3;
}

.grid-normal {
    margin-top: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr ;
    gap: 1px;
}

.elemento-anidado, .elemento-anidado-1 {
    min-height: 1rem;
    background-color: burlywood;
    align-content: center;
}

.grid-anidado {
    display: grid;
    grid-row: 2 / 4;
    grid-column: 2 / 3;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
    padding: 0.5rem;
}

.elemento-anidado-1 {
    grid-column: 1 / 3;
}